<div *ngIf="showMenu" class="bg-light mb-4">
  <nav class="container navbar navbar-expand-lg justify-content-between">
    <div class="navbar-brand">Paltrack Lty Ltd.</div>
  
    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="nav-link">
            <button class="btn btn-primary" (click)="showBonusRound()">
              <i class="fa fa-question"></i>
              Bonus Round
            </button>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>